@import "reset";
@import "variables/global.scss";
@import "themes/normal.scss";
@import "themes/dark.scss";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
}
.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1400px;
    gap: 20px;
    margin: 20px;
    padding: 0 20px;
    a {
        font: var(--font-l);
    }
}

a {
    text-decoration: none;
}

.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--bg-indigo);
    color: var(--text-white);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}