.app.dark {
    --bg-color: rgb(25, 31, 39);

    --primary-color: rgb(184, 191, 207);
    --seconddary-color: rgb(241, 241, 241);
    --theme-switcher-color:
        --theme-switcher-background:
}

.header {
    a {
        color: var(--primary-color);
    }
}